html{
	font-size: 22px;
}

body {
	background-color: #333;
	color: white;
} 

a {
	color: aliceblue;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: #eee;
}

table, tr, th, td, caption {
	border: 5px double #683108;
	font-family: 'Courier New', Courier, monospace;
	padding: 0.5rem;
}

.html_code_example {
	blackground-color: white;
	color: blue;
}
.html_code_example p {
	background-color: black;
	color: green;
}
